page-project {
    .button.customBtn{
        height: 100px;
        margin-bottom: 10px;
        background-color: #483698;
        color: lightgrey
        
    }
    .button.customBtnUD{
        margin-bottom:10px;
        background-color: #483698;
        color: lightgrey
    }
}
