page-scout-arrival {
    ion-slide{
        margin-top: 10px;
        border-width: 5px;
     }

     h1{
        font-size: 18px;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-weight: bold;
        color: purple;
    }
    p{
        line-height: 18px;
    }
     
}
